body{
    background-color: #FBDCE2;
}
h1{
    color: #600a6b;
}
h2{
    color: #600a6b;
    margin: 5px;
}
h3{
    color: #600a6b;
    margin: 5px;
}
nav{
    
    border-color: teal ;
    background-color: #FF9FB2;
    font-size: 20px;
    margin-bottom: 5px;
}
p{
    text-align: justify;
    font-size: 18px;
    margin: 5px;
}
.imgmargin{
    margin-top: 5px;
    margin-right: 5px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
    background-color:#FF9FB2;
}
.footermenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:fixed;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
    background-color:#FF9FB2;
}
.titulo{
    display:flex;
    flex-flow: column wrap;
    align-content: center;
}
.portada{
    top: 0;
    width: 100%;
}

.subtitulo{
    text-align: center;
}
.link{
    padding-left: 20px;
    padding-right: 20px;
    outline:none;
    text-decoration: none;
    color: black; 
    display: inline-block;
}
a:hover {
    background: #7D80DA;
    color: #351431;
}

.encabezado{
    text-align: center;
}
.container{
    padding: 0;
    padding-right: 0;
    
    width: 100%;
    
}
.icono{
    width: 30px;
    height: 30px;
}
@media(max-width:584px){
    nav{
        display: block;
        margin: 0;
        width: auto;
    }
    .link{
        display: block;
    }
    .container{
        margin: 0;
        margin-right: 0;
        margin-left: 0;
    }
    .portada{
        width: 100%;
    }
    .encabezado{
        text-align: justify;
    }
    
}